# AI coursework


## Used Libraries

In [1]:
import numpy as np
import pandas as pd

Now import the datasets from the CSV files into pandas.

In [32]:
train_data = pd.read_csv('./adult_data.csv')
test_data = pd.read_csv('./adult_test.csv')
# print(train_data)
# print(test_data)
print("train set : ", train_data.shape)
print("train set : ", test_data.shape)

train set :  (32561, 15)
train set :  (16280, 15)

In [33]:
train_data.dropna(axis = 0)
test_data.dropna(axis = 0)

print("train set : ", train_data.shape)
print("train set : ", test_data.shape)

train set :  (32561, 15)
train set :  (16280, 15)

After removing the rows from both sets which had missing values, we can see that the shapes of the datasets have remained the same. So we know for certain that there are no NULL values in the dataset.

In [38]:
for col in train_data.columns:
    print(col)

age
workclass
fnlwgt
education
education-num
marital-status
occupation
relationship
race
sex
capital-gain
capital-loss
hours-per-week
native-country
><50k

We wil keep age, education-num, occupation, marital-status, race, sex, hours-per-week, to predict the salary. 



removing NOT america

In [42]:
train_data["native-country"].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64